
tech-challenger-landing/node_modules
tech-challenger/node_modules
tech-challenge-back/node_modules


/.idea
tech-challenge-back/.idea
tech-challenger/.idea
tech-challenger-landing/.idea


tech-challenger/.next
tech-challenger-landing/.next