
/.idea
tech-challenge-back/.idea
tech-challenge/.idea
tech-challenge-back/node_modules
tech-challenger-landing/node_modules
tech-challenger/node_modules
tech-challenger/.next
tech-challenger-landing/.next